@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

@media only screen and (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
    }

    .logo {
        height: 70px;
    }

    .logo img {
        height: 60px;
        width: 60px;
        margin: 5px;
        align-items: center;
    }

    nav {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav ul {
        padding: 0;
        flex: 1;
        text-align: right;
    }

    nav ul li {
        margin: 10px;
    }

    nav ul li a {
        font-size: 1rem;
    }


    #daynight {
        width: 20px;
        margin-left: 10px;
        cursor: pointer;
    }

    #myBtn {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Fixed/sticky position */
        bottom: 30px;
        /* Place the button at the bottom of the page */
        right: 30px;
        /* Place the button 30px from the right */
        z-index: 99;
        /* Make sure it does not overlap */
        border: none;
        /* Remove borders */
        outline: none;
        /* Remove outline */
        color: white;
        /* Text color */
        cursor: pointer;
        /* Add a mouse pointer on hover */
        padding: 15px 20px;
        /* Some padding */
        border-radius: 50%;
        /* Rounded corners */
        font-size: 28px;
        /* Increase font size */
    }

    .topcontent {
        margin: 2% 5%;
        display: flex;
        flex-direction: column;
        -ms-flex-direction: column;
        flex-wrap: nowrap;
    }

    .toptext {
        width: 100%;
        text-align: center;
        margin: 12% auto 0 auto;
        font-family: 'Sacramento', cursive;
    }

    h1,
    h3,
    h4,
    h5,
    h6 {
        color: var(--secondary-color);
    }

    h1 {
        font-size: 3rem;
        margin: 20px auto;
        line-height: 1;
    }

    h3 {
        font-size: 2.5rem;
        margin: 20px auto;
    }

    span {
        color: #9b30ff;
        margin: 20px auto;
    }

    .toppara {
        padding: 2% 5%;
        font-size: 1.2rem;
        font-family: 'Jost', sans-serif;
    }

    .listen-btn {
        padding: 3% 3%;
        font-size: 1.5rem;
        font-weight: 400;
        border: 0;
        border-radius: 15px;
    }

    .topimg {
        width: 100%;
        text-align: center;
        margin: 5% 0;
    }

    .img1 {
        display: none;
        /* min-width: 75%;
        margin: auto;
        display: flex;
        text-align: center;
        width: 100%;
        border-radius: 0; */
    }

    #about {
        margin: 0 8%;
        padding-top: 10%;
        text-align: center;
        z-index: 0;
    }
    .bio {
        text-align:inherit;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    p {
        font-size: 1.2rem;
        font-family: 'Jost', sans-serif;
    }

    h2 {
        font-size: 2.8rem;
        font-family: 'Jost', sans-serif;
        color: #9b30ff;
        text-align: center;
    }

    .profile-pic {
        width: 200px;
        margin: 20px;
    }

    #works {
        margin: 0 2% 5% 2%;
        padding-top: 10%;
    }
    #works::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(#f00,rgb(68, 0, 255));
        clip-path: circle(15% at right 40%);
    }
    body::before{
        content: "";
        position: absolute;
        top: 245%;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgb(89, 0, 255),rgb(255, 0, 13));
        clip-path: circle(20% at left 60%);
    }
    /* #about::before{
        content: "";
        position: absolute;
        top: 20%;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgb(255, 0, 149),rgb(119, 0, 255));
        clip-path: circle(30% at center 90%);
    } */
    .albums {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card-tilt {
        margin: 10px 40px;
        border-radius: 12px;
    }

    .album-card {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        backdrop-filter: blur(20px);
        padding: 20px;
        text-align: center;
        align-items: center;
        justify-content: center;
        border: none;
        border-top: var(--primary-color);
        box-shadow: 0 3px 6px 0 rgb(0 0 0 / 20%)
    }

    .album-art {
        width: 180px;
        margin: 10px;
        border-radius: 12px;
    }

    h2 span {
        font-size: 2.2rem;
        font-family: 'Jost', sans-serif;
        color: #9b30ff;
        text-align: center;
        text-decoration: underline;
        font-weight: 500;
    }

    .listen {
        width: 120px;
        margin-top: 4%;
        padding: 3% 3%;
        font-size: 1.3rem;
        font-weight: 500;
        font-family: 'Jost', sans-serif;
        color: var(--primary-color);
        cursor: pointer;
        border: 0;
        border-radius: 20px;
        background-color: #9b30ff;
    }

    .listen:hover {
        background-color: #6f1cbd;
        box-shadow: #201929;
    }

    .spotify{
        margin: 0 2%;
        /* padding-top: 10%; */
        display: flex;
        flex-direction: row;
        -ms-flex-direction: row;
        flex-wrap: wrap;
        border: none;
        border-radius: 10px;
    }
    .spotify-img-box{
        width: 100%;
        text-align: center;
        /* height: 100%; */
    }
    .spotify-img{
        /* display: none; */
        width: 100%;
    }
    .spotify-list{
        display: flex;
        width: 100%;
    }
    .spotify-api{
        height: 385px;
        width: 100%;
    }
    

    .form{
        display: flex;
        flex-direction: column;
        width: 100%;
        font-family: 'Jost', sans-serif;
    }
    .input-field{
        width: 88%;
        margin: 1px 10px;
        font-size: larger;
        border-radius: 5px;
        padding: 10px;
    }

}